@import url('main.css');

/* navbar */
#navbar {
  background-color: #000000;
  width: 100vw;
  height: 80px;
}

.navbar-menu {
  width: 62%;
  height: 100%;
  margin: auto;
}

.left-navbar {
  float: left;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.left-navbar > img {
  height: 80%;
}

.right-navbar {
  float: right;
  height: 100%;
  width: 55%;
}

.right-navbar,
.navbar__list {
  display: flex;
}

.right-navbar {
  align-items: center;
}

.navbar__list {
  margin-left: -50px;
}

.navbar__list > li {
  padding: 0 20px;
  position: relative;
  left: 130px;
}

.navbar__list > li > a,
.navbar__list > li {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

/* Advertisement */
#Advertisement {
  height: 479px;
  background-color: rgb(255, 205, 210);
}

.adv-container {
  width: 60%;
  height: 80%;
  margin: auto;
  display: flex;
}

.left__adv-container {
  width: 63%;
  height: 100%;
}

.head-text {
  margin-top: 70px;
  padding-bottom: 25px;
}

.head-text h1 {
  font-size: 40px;
  color: var(--color-black);
}

.center-text {
  font-size: 24px;
  font-weight: 400;
  color: var(--color-black);
  padding-bottom: 35px;
}

.btn-start,
.btn-price {
  border-radius: 500px;
  font-size: inherit;
  padding-block: 14px;
  padding-inline: 32px;
  font-weight: 900;
}

.btn-group {
  padding-bottom: 50px;
}

.btn-start {
  color: var(--color-white);
  background-color: var(--color-black);
  border: none;
}

.btn-price {
  background-color: transparent;
  border: 1px solid black;
}

.btn-start:hover,
.btn-price:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.btn-start:hover {
  background-color: #8f317e;
}

.btn-price:hover {
  background-color: #dffbe3;
}

.last-text {
  color: var(--color-black);
  font-size: 0.6875rem;
}

.right__adv-container {
  width: 30%;
  height: 100%;
  text-align: center;
}

.right__adv-container > img {
  width: 400px;
  height: 320px;
  margin-top: 80px;
}
