@import url('main.css');

/* navbar */
#navbar {
    background-color: #2a8349;
    width: 100vw;
    height: 80px;
  }
  
  .navbar-menu {
    width: 62%;
    height: 100%;
    margin: auto;
  }
  
  .left-navbar {
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .left-navbar > img {
    height: 80%;
  }
  
  .right-navbar {
    float: right;
    height: 100%;
    width: 55%;
  }
  
  .right-navbar,
  .navbar__list {
    display: flex;
  }
  
  .right-navbar {
    align-items: center;
  }
  
  .navbar__list {
    margin-left: -50px;
  }

  .navbar__list > li {
    padding: 0 20px;
    position: relative;
    left: 130px;
  }
  
  .navbar__list > li > a,
  .navbar__list > li {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
  }

