@import url('main.css');

.supportMain {
  background: linear-gradient(173deg, #3ca661, black 25%);
  /* background-color: black; */
  height: 900px;
  position: relative;
}
.loginLink {
  font-weight: 600;
}
.supportText {
  font-weight: 900;
}
.sText1 {
  font-size: 1.2rem;
  color: rgb(113, 113, 113);
  padding: 50px 20px 10px;
  width: 640px;
  height: 50px;
  margin: 0 auto;
}
.sText2 {
  font-size: 5rem;
  font-weight: 700;
  color: white;
  padding: 5px 50px 60px;
  width: 700px;
  margin: 0 auto;
}
.sText3 {
  color: rgb(113, 113, 113);
  font-size: 1.563em;
  padding: 50px;
  width: 700px;
  margin: 0 auto;
}
.loginLink {
  color: white;
  text-decoration: underline;
}

.searchSupport {
  width: 730px;
  height: 60px;
  margin: 0 auto;
  position: absolute;
  left: 35%;
}
.supportBox1 {
  position: absolute;
  margin: 0 auto;
  right: 32%;
  top: 58%;
}
.supportBox2 {
  position: absolute;
  margin: 0 auto;
  right: 32%;
  top: 71%;
}
.sBox {
  width: 235px;
  height: 100px;
  margin: 8px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  padding-right: 82px;
  padding-bottom: 45px;
  cursor: pointer;
  background-color: black;
  border:3px solid #3ca661;
  color:aliceblue;
  
}
.supportBottom {
  height: 550px;
  background-color: rgb(33, 32, 32);
  color: white;
}
.bText {
  margin: 50px;
  font-size:20px;
}
.bottomText{
  position: absolute;
  margin: 0 auto;
  right: 50%;
}
.bottomText > ul > a{
  cursor:pointer;
}
.bottomText > ul > .click:hover{
  text-decoration: underline;
  color: rgb(226, 225, 225);
}
.community{
  height: 400px;
  background-color: black;
  color: white;
}
.communityText{
  position: absolute;
  margin: 0 auto;
  right: 31%;
  margin-top:150px;
  font-size:20px;
  text-align: center;
}
.communityBtn{
  cursor:pointer;
  text-decoration: none;
  color:black;
  border:3px solid #3ca661;
  border-radius: 50px;
  padding:25px;
  background-color: #3ca661;
  font-size: 20px;
  width:200px;
  position: absolute;
  margin: 0 auto;
  right: 36%;
  top:130%;
}
