@import url('main.css');

/* section 1 */
#spotify_download_section {
  background-color: rgb(25, 230, 140);
  height: 525px;
  position: relative;
}
#download_content {
  position: absolute;
  top: 28%;
  left: 40%;
}

.maxWidthContainer {
  text-align: center;
  padding-top: 10%;
}

#bigText_download {
  font-size: xxx-large;
  padding-bottom: 24px;
}

#laptopImage {
  width: 135px;
  top: -39px;
  left: -3px;
  position: relative;
}
#circleImage_1 {
  position: absolute;
  right: 220px;
  top: -6%;
  width: 33px;
}

.slide_1 {
  animation: change 0.2s ease forwards;
  animation-delay: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

@keyframes change {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.opa_1 {
  animation: change2 1.5s ease forwards;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

@keyframes change2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#circleImage_2 {
  position: absolute;
  right: 220px;
  top: -6%;
  width: 33px;
}

#checkImage {
  position: absolute;
  right: 231px;
  top: -2%;
  width: 11px;
}

#downloadButton {
  width: 128px;
  height: 50px;
  margin-top: 45px;
  border-radius: 41px;
  background: white;
  border: none;
}

/* section 2 */
#spotify_mobile_section {
  height: 308px;
  position: relative;
}
#mobile_content {
  position: absolute;
  top: 26%;
  left: 37%;
}

#mobileLinkButton {
  position: absolute;
  left: 100px;
  top: 71%;
}

#bigText_mobile {
  font-size: xx-large;
  padding-bottom: 24px;
}

/* section 3 */
#spotify_allPlatForms_section {
  background-color: rgb(34, 35, 38);
  height: 420px;
  position: relative;
}
#allPlatForms_content {
  position: absolute;
  top: 13%;
  left: 32%;
  color: white;
}
#bigText_allPlatForms {
  font-size: xx-large;
}
#allPlatForms_Image > img {
  width: 55%;
}
#allPlatForms_ul a {
  color: #3ca661;
  text-decoration: underline;
}

.allPlatForms_li {
  display: inline;
  list-style: circle;
}

#dot {
  color: #3ca661;
}

#underLine {
  text-decoration: underline;
  color: #3ca661;
}
