@import url('main.css');

.main-container {
  text-align: center;
  width: 35%;
  margin: auto;
  padding: 30px;
}

.header-text > h1 {
  padding: 30px;
  font-size: 2rem;
  font-weight: bold;
}

.signUp-btn {
  width: 394px;
  height: 48px;
  border-radius: 500px;
  margin: auto;
  cursor: pointer;
}

.facebook-signUp {
  background-color: #405a93;
}

.facebook-signUp > a > img {
  padding-top: 5px;
}

.google-signUp {
  border: 2px solid black;
  background-color: #ffffff;
}

.google-signUp > a > img {
  padding-top: 4.5px;
}

.facebook-signUp:hover,
.google-signUp:hover {
  transform: scale(1.03);
}

.divider {
  display: table;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  margin: 0px auto 1em;
  color: rgb(127, 127, 127);
  text-align: center;
  width: 64%;
}

.divider::before,
.divider::after {
  border-top: 1px solid rgb(204, 204, 204);
  content: '';
  display: table-cell;
  position: relative;
  top: 0.8em;
  width: 42%;
}

.header-text2 > h3 {
  font-size: 1.125rem;
  font-weight: 700;
}

.input-container {
  text-align: left;
  width: 75%;
  margin: auto;
}

.input-container h7 {
  font-size: 0.875rem;
  font-weight: bold;
}

.input-container input {
  width: 450px;
  height: 48px;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 3px;
  border: 1px solid gray;
  padding-inline: 14px;
}

.inputBox {
  padding-top: 20px;
}

.error-msg,
.error-msg2,
.error-msg3,
.error-msg5,
.error-msg6,
.error-msg7 {
  color: #d31225;
  font-size: 14px;
}

.error-msg4 {
  font-size: 14px;
  color: var(--color-black);
  padding: 5px 0;
}

.birth-date {
  display: flex;
  justify-content: space-between;
}

.years input {
  width: 112.5px;
  height: 48px;
}

.month > select {
  width: 202.5px;
  height: 48px;
}

.day > input {
  width: 90px;
  height: 48px;
}

.gender,
.foot-text {
  text-align: left;
  width: 75%;
  margin: auto;
  padding-top: 30px;
}

.gender > p {
  font-weight: bold;
  font-size: 0.875rem;
}

.gender label {
  font-size: 0.875rem;
}

.foot-text {
  font-size: 0.875rem;
}

.foot-text label {
  color: #1db954;
}

.foot-text label:nth-child(2) {
  color: black;
}

.last-text {
  text-align: center;
  font-size: 0.6875rem;
}

.btnBox {
  text-align: center;
  padding: 20px;
}

.btn-enroll {
  background-color: #1fdf64;
  padding: 12px 48px;
  border-radius: 250px;
  border: none;
  font-weight: 900;
  font-size: 20px;
}

.qa_login {
  text-align: center;
}

.qa_login > span > a > u {
  color: #1db954;
}
