@import url('main.css');

.main-container {
  text-align: center;
  width: 35%;
  margin: auto;
  padding: 30px;
}

.header-text > h1 {
  padding: 30px;
  font-size: 2rem;
  font-weight: bold;
}

.signUp-btn {
  width: 394px;
  height: 48px;
  border-radius: 500px;
  margin: auto;
  cursor: pointer;
}

.facebook-signUp {
  background-color: #405a93;
}

.facebook-signUp > a > img {
  padding-top: 5px;
}

.google-signUp {
  border: 2px solid black;
  background-color: #ffffff;
}

.google-signUp > a > img {
  padding-top: 4.5px;
}

.facebook-signUp:hover,
.google-signUp:hover {
  transform: scale(1.03);
}

.divider {
  display: table;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  margin: 0px auto 1em;
  color: rgb(127, 127, 127);
  text-align: center;
  width: 64%;
}

.divider::before,
.divider::after {
  border-top: 1px solid rgb(204, 204, 204);
  content: '';
  display: table-cell;
  position: relative;
  top: 0.8em;
  width: 42%;
}

.header-text2 > h3 {
  font-size: 1.125rem;
  font-weight: 700;
}

.input-container {
  text-align: left;
  background-color: beige;
  width: 75%;
  margin: auto;
}

.input-container h7 {
  font-size: 0.875rem;
  font-weight: bold;
}

.input-container input {
  width: 450px;
  height: 48px;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 3px;
  border: 1px solid gray;
  padding-inline: 14px;
}

.inputBox {
  padding-top: 20px;
}
