:root {
  --color-white: #fff !important;
  --color-purple: #a63992 !important;
  --color-black: #000 !important;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--color-white);
  text-decoration: none;
}

li {
  list-style: none;
}
